<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <title>Manager Home Page</title>
</head>
<body><center>
    <div class="container" id="root">

        <div class="nav-bar">
            <button class="button" onclick="navigate('local_exp')">Local Expenditure</button>
            <button class="button" onclick="navigate('material')">Material Purchase</button>
            <button class="button" onclick="navigate('labour')">Labour</button>
            <button class="button" onclick="navigate('salary')">Staff-Salary</button>
            <button class="button" onclick="navigate('report')">Report</button>
            
        </div>

        <h2 id="welcome">Welcome</h2>
        <h1 id="message">Site {{ site }} Manager {{ msg }}</h1>
        <button class="button" onclick="location.href='/home'">Log out</button>
    </div></center>

    
</body>
</html>
